name: Building
on: push

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Bearer
        uses: bearer/bearer-action@v2
      - run: npm install
      - name: SCA
        run: npm audit --production 
      - run: npm run build
      - run: npm test
